@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&family=Work+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 11px;
}

body {
  background: #F9F9F9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

#root {
  width: 100%;
}

.contendorP{
  /* padding-top: 9vh; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .05)
}

@media screen and (max-width: 60rem){ /* 950px */
  :root {
      font-size: 14px;
  }
}